# Supabase Configuration
EXPO_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here
EXPO_PUBLIC_SUPABASE_URL=https://luwoavohvnpszoceaygu.supabase.co
EXPO_PUBLIC_SUPABASE_KEY=sb_publishable_nP8NBj6IRxPMwF4OUB9nuA_kJLEgoaP

# Resend Transactional Email API (https://resend.com)
EXPO_PUBLIC_RESEND_API_KEY=your_resend_api_key_here
EXPO_PUBLIC_RESEND_FROM_EMAIL="Oasis HRMS <notifications@subedge.com>"