CREATE OR REPLACE FUNCTION public.auto_confirm_user() RETURNS TRIGGER AS $$ BEGIN NEW.email_confirmed_at = NOW(); RETURN NEW; END; $$ LANGUAGE plpgsql SECURITY DEFINER; DROP TRIGGER IF EXISTS auto_confirm_user_trigger ON auth.users; CREATE TRIGGER auto_confirm_user_trigger BEFORE INSERT ON auth.users FOR EACH ROW EXECUTE FUNCTION public.auto_confirm_user();
