ALTER TABLE public.shifts ADD COLUMN IF NOT EXISTS color TEXT DEFAULT '#0D7377'; ALTER TABLE public.shifts ADD COLUMN IF NOT EXISTS allowance_per_day NUMERIC(12, 2) DEFAULT 0; ALTER TABLE public.shifts ADD COLUMN IF NOT EXISTS is_night_shift BOOLEAN DEFAULT FALSE;
