CREATE POLICY "Users can view shifts in their org" ON public.shifts FOR SELECT USING (organization_id IN (SELECT organization_id FROM public.profiles WHERE id = auth.uid())); CREATE POLICY "Admins can insert shifts" ON public.shifts FOR INSERT WITH CHECK (organization_id IN (SELECT organization_id FROM public.profiles WHERE id = auth.uid() AND role IN ('admin', 'hr'))); CREATE POLICY "Admins can update shifts" ON public.shifts FOR UPDATE USING (organization_id IN (SELECT organization_id FROM public.profiles WHERE id = auth.uid() AND role IN ('admin', 'hr'))); CREATE POLICY "Admins can delete shifts" ON public.shifts FOR DELETE USING (organization_id IN (SELECT organization_id FROM public.profiles WHERE id = auth.uid() AND role IN ('admin', 'hr')));
CREATE POLICY "Users can view employee shifts" ON public.employee_shifts FOR SELECT USING (organization_id IN (SELECT organization_id FROM public.profiles WHERE id = auth.uid())); CREATE POLICY "Admins can insert employee shifts" ON public.employee_shifts FOR INSERT WITH CHECK (organization_id IN (SELECT organization_id FROM public.profiles WHERE id = auth.uid() AND role IN ('admin', 'hr'))); CREATE POLICY "Admins can update employee shifts" ON public.employee_shifts FOR UPDATE USING (organization_id IN (SELECT organization_id FROM public.profiles WHERE id = auth.uid() AND role IN ('admin', 'hr'))); CREATE POLICY "Admins can delete employee shifts" ON public.employee_shifts FOR DELETE USING (organization_id IN (SELECT organization_id FROM public.profiles WHERE id = auth.uid() AND role IN ('admin', 'hr')));
